body {
  font-family: "Arial";
  margin: 0;
}

.values {
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 40px;
}

.values__img,
.care__img {
  width: 80px;
  height: 80px;
}

.values__title,
.care__title,
.care__subtitle,
.number__title,
.view__title,
.question__tilte {
  color: #1e629f;
}

.values__textblue,
.care__text,
.number__text,
.view__description {
  color: #1e629f;
}

.care {
  background-image: url('../img/bg_care.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
	padding-top: 40px;
  padding-bottom: 40px;
}

.care__icones {
  margin-top: 80px;
}

.number {
  background: #fbfbfb;
    padding-top: 40px;
  padding-bottom: 40px;
}
.number__section {
  background-color: #fff;
  box-shadow: 1px 3px 5px #555;
  text-align: center;
}

.number__stat {
  font-size: 40px;
}

.purple {
  color: #8e81e5;
}

.blue {
  color: #547ed1;
}

.green {
  color: #8de5d7;
}

.view {
  background-color: #fafafa;
    padding-top: 40px;
  padding-bottom: 40px;
}

.view__box {
  background-color: #fff;
  box-shadow: 0px 1px 10px #555;
  border-radius: 5px;
  padding: 20px;
}
.view__link,
.question__link {
  text-decoration: none;
  color: #1e629f;
  background-color: #f6d94f;
  padding: 5px;
  margin: 5px;
}

.view__star__img {
  width: 20px;
}

.view__img {
  width: 70px;
}

.view__name {
  color: #1e629f;
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
}

@media all and (max-width: 767px) {
  .hidden {
    display: none;
  }
}

.question {
  background-color: #fff;
    padding-top: 40px;
  padding-bottom: 40px;
}
.question__tilte {
  text-align: center;
}

.question__box {
  border: solid;
  border-color: #EAEAEA;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 10px;
}

.question__text {
  font-weight: 600;
  color: #22a2c0;
}

.question__img {
  width: 15px;
  margin-top: 20px;
}

.question__details {
  text-align: center;
}

.partnership {
  background-color: #eaeaea;
    padding-top: 40px;
  padding-bottom: 40px;
}

.partnership__img {
  width: 120px;
}

.footer {
  background-color: #333333;
    padding-top: 40px;
  padding-bottom: 40px;
}

.footer__img {
  width: 50px;
}

.footer__text {
  color: white;
  text-decoration: none;
}

.footer__subtitle {
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.footer__img__logo {
  width: 200px;
  margin-top: 20px;
}

.yellow {
  color: #f6d94f;
}
